@font-face {
    font-family: 'FSMillbankIcons';
    src: url('../fonts/FSMillbankIcons.eot');
    src: url('../fonts/FSMillbankIcons.eot') format('embedded-opentype'),
         url('../fonts/FSMillbankIcons.woff2') format('woff2'),
         url('../fonts/FSMillbankIcons.woff') format('woff'),
         url('../fonts/FSMillbankIcons.ttf') format('truetype'),
         url('../fonts/FSMillbankIcons.svg#FSMillbankIcons') format('svg');
}

@font-face {
    font-family: 'FSMeRegular';
    src: url('../fonts/FSMeRegular.eot');
    src: url('../fonts/FSMeRegular.eot') format('embedded-opentype'),
         url('../fonts/FSMeRegular.woff2') format('woff2'),
         url('../fonts/FSMeRegular.woff') format('woff'),
         url('../fonts/FSMeRegular.ttf') format('truetype'),
         url('../fonts/FSMeRegular.svg#FSMeRegular') format('svg');
}

@font-face {
    font-family: 'FSMeBold';
    src: url('../fonts/FSMeBold.eot');
    src: url('../fonts/FSMeBold.eot') format('embedded-opentype'),
         url('../fonts/FSMeBold.woff2') format('woff2'),
         url('../fonts/FSMeBold.woff') format('woff'),
         url('../fonts/FSMeBold.ttf') format('truetype'),
         url('../fonts/FSMeBold.svg#FSMeBold') format('svg');
}
