//COLORS variables
$extra-dark-grey: #161616;
$dark-grey: #292c29;
$grey: #313431;
$lighter-grey: #3e413e;
$lighter-grey-2: #7f807e;
$lighter-grey-3: #d0d0d0;
$lighter-grey-4: #babec0;
$lighter-grey-5: #343734;
$lighter-grey-6: #e7e7e7;
$lighter-grey-7: #f7f7f7;
$lighter-grey-8: #f1f1f1;
$blue: #0aa1db;
$dirty-white: #fafafa;
$white: #fff;
$red: #D11F49;
$green: #97c847;
$yellow: #fbb43a;
$yellow-light: #f9d598;
$violet: #c22c8f;
$violet-light: #dc91c3;
$tomato: #ed4c2f;
$tomato-light: #f2a193;
$grey-light: #e3e3e3;
$blue-light: #c8e6f1;

$logo: $lighter-grey-4;
$placeholder: $lighter-grey-2;
$dropdown-text: $lighter-grey-2;
$dropdown-border: $lighter-grey-6;
$dropdown-active: $blue;
$dropdown-hover: $extra-dark-grey;
$dropdown-text-in: $extra-dark-grey;
$dropdown-slide-border: $lighter-grey;
$input-background: $grey;
$tabs: $lighter-grey-3;
$btn-text: $lighter-grey-3;
$btn-hover: $lighter-grey-5;
$btn-border: $lighter-grey-5;
$submit-disabled: $lighter-grey;
$submit-text: $dark-grey;
$submit-enabled: $blue;
$home-body: $dark-grey;
$tab-active: $blue;
$input-text: $dirty-white;
$tab-wrap-border: $lighter-grey;
$browse: $dark-grey;
$browse-error: $red;

$inner-background: $lighter-grey-7;
$inner-header-background: $dark-grey;

$h5-color: $lighter-grey-2;
$h5-item-border: $lighter-grey-6;
$h3-color: $dark-grey;
$h1-color: $dark-grey;
$p-color: $dark-grey;

$rel-inner: $dark-grey;
$rel-inner-text: $dirty-white;
$rel-mask: $lighter-grey-7;

$n-button: $dark-grey;
$n-button-border: $lighter-grey-6;

$n-generated-border: $lighter-grey-6;
$ng-title: $lighter-grey-2;
$ng-title-back: $lighter-grey-7;
$ng-data: $dark-grey;
$ng-link: $blue;
$ng-title-static: $lighter-grey-8;

$sidebar: $lighter-grey-6;
$sidebar-topic-text: $extra-dark-grey;

$panel-corner: $lighter-grey-3;
$sp-border: $lighter-grey-6;
$sp-top-nav-border: $lighter-grey-6;

$bullet-color: $lighter-grey-3;
$excerpt: $blue-light;

$pagination: $lighter-grey-2;
$pg-border: $lighter-grey-6;
$active: $blue;

$sp-tab-border: $lighter-grey-6;
$sp-tab-color: $dark-grey;
$tag-del: $extra-dark-grey;

//FONTS variables
$regular: 'FSMeRegular';
$bold: 'FSMeBold';
$icon: 'FSMillbankIcons';

// BODY variables
$transition: 0.2s;



